.zz-header{
    color: white;
    text-align: center;
    font-size: 30px;
}
.zz-content{
    padding-top: 20px ;
    padding-left: 20px;
    background-color: white;
}
[nz-button]{
    margin-bottom: 10px;
}
.left{
    margin-left: 78%;
}