<button nz-button [nzType]="'primary'" (click)="showModal()"><span>Thêm</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Thêm dự án"  [nzFooter]="null" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>


      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Tên dự án</nz-form-label>
          <nz-form-control  [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Name!">
            <input nz-input *ngIf="!type"  formControlName="name" id="name" />
            <input nz-input *ngIf="type" [(ngModel)]="item.name"  formControlName="name" id="name" />

          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cost">Chi Phí</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Cost">
            <input nz-input *ngIf="!type" formControlName="cost" id="cost" />
            <input nz-input *ngIf="type" [(ngModel)]="item.cost" formControlName="cost" id="cost" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Thêm</button>
          </nz-form-control>
        </nz-form-item>
      </form>




    </ng-container>
</nz-modal>
<app-table (id)="remove($event)" (data)="handleChangeModal($event)" [string]="title"  [rows]="datas">
    <ngvn-colum header="ID" key="id"></ngvn-colum>
    <ngvn-colum header="Name" key="name"></ngvn-colum>
    <ngvn-colum header="Cost" key="cost" [dataType]="COL_DATA_TYPE.CURRENCY">
        <ng-template appHeader>
            <strong><em>dsds</em></strong>
        </ng-template>
    </ngvn-colum>
    <ngvn-colum  header='Chức Năng' key="action">
    </ngvn-colum>
</app-table>